.lead {
  min-height: 1005px;
  margin: 0;
  padding: 56px 148px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .lead {
    min-height: 962px;
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 960px) {
  .lead {
    min-height: 862px;
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 680px) {
  .lead {
    min-height: 406px;
  }
}