.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 540px) {
  .header {
    min-height: 42px;
    padding: 16px 16px 0;
  }
}