.intro {
  min-height: 429px;
  margin: 0;
  padding: 92px 442px 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .intro {
    padding: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 680px) {
  .intro {
    min-height: 754px;
    padding: 64px 16px 0;
  }
}