.cover {
  margin: 0;
  padding: 92px 48px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .cover {
    padding: 92px 0 0;
  }
}

@media screen and (max-width: 960px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 680px) {
  .cover {
    padding: 66px 0 0;
  }
}