.lead__figure {
  margin: 64px 0 0;
  padding: 0;
  max-width: 984px;
  max-height: 637px;
}

@media screen and (max-width: 1120px) {
  .lead__figure {
    margin: 56px 0 0;
    max-width: 928px;
    max-height: 602px;
  }
}

@media screen and (max-width: 960px) {
  .lead__figure {
    margin: 56px 0 0;
    max-width: 928px;
    max-height: 602px;
  }
}

@media screen and (max-width: 540px) {
  .lead__figure {
    margin: 56px 0 0;
    max-width: 928px;
    max-height: 602px;
  }
}