.place {
  max-width: 984px;
  min-height: 584px;
  margin: 0 0 80px;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas: 
  "title web"
  "item description";
  gap: 48px 40px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .place {
    max-width: 928px;
    min-height: 564px;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 960px) {
  .place {
    max-width: 928px;
    min-height: 564px;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 540px) {
  .place {
    max-width: 928px;
    min-height: 564px;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}