.place__item {
  margin: 0;
  padding: 0;
  max-height: 460px;
  max-width: 460px;
  box-sizing: border-box;
  grid-area: item;
}

@media screen and (max-width: 1120px) {
  .place__item {
    max-height: 440px;
    max-width: 440px;
  }
}

@media screen and (max-width: 960px) {
  .place__item {
    max-height: 440px;
    max-width: 440px;
  }
}

@media screen and (max-width: 540px) {
  .place__item {
    max-height: 440px;
    max-width: 440px;
  }
}